.booking-dates{
    display: flex;
    justify-content: center;
    margin: 10px 0px;
}

.past-booking-warning{
    color: rgb(186, 184, 184);
    display: flex;
    justify-content: center;
}
/* 
.opaque{
    opacity: 0.5;
} */

.past-booking-title{
    color: rgb(186, 184, 184);
}

.no-bookings{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 700;
}